body {
  /* All backgrounds to go edge-to edge */
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header {
  background-color: #4fbedb;
  overflow: auto;
  padding: 1rem;

  /*How to curve top edges? */
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 65rem;

  margin: auto;

}

.header__right {
  float: right;

  margin-top: 0;
  margin-right: 2rem;
  padding-top:1.2rem;
  color: white;

  font-size: 1rem;

}

.header__span-1 {

  margin-right: 3em;
  display: inline-block;


}

.header__span-2 {

  display: inline-block;
}

.header__left {

  float: left;
  display: inline-block;
  margin-left: 2rem;
}

.header__left h1 {
  color: white;
  font-size: 1.5rem;
}

.profiles {
  align-items: center;
  max-width: 65em;
  margin-left: auto;
  margin-right: auto;
  /*a bit delayed in terms of expanding to center */
}

.profiles__item {
  width: calc(100% / 3 - 2rem);
  border: solid 1px grey;
  border-radius: 2%;
  overflow: auto;
  margin: 1rem;
  align: center;
  float: left;
  min-width: 15rem;
}

.user {
  overflow: auto;
  padding: 1rem;
}

.user__image {
  width: 25%;
  margin-right: 1rem;
  float: left;
  border-radius: 5%;
}

.user__info {
}
.user__name {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 0;
}

.user__username {
  font-weight: lighter;
  color: grey;
  font-size: 1rem;
  margin-top: 0.25rem;
}

.project-item {
  /*  float: right; */
  border-top: solid 1px grey;
  /*background: green;*/
  padding: 0 1rem;
  overflow: auto;
}

.repo {
  float: left;
}

.repo__language {
  float: right;
}

.dot {
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  margin: 0 .25rem;
  height: .75rem;
  width: .75rem;
}

.js {
  background-color: yellow;
}

.python {
  background-color: #2663a2;
}

.c {
  background-color: #383637;
}

.html {
  background-color: #df4f30;
}

.css {
  background-color: purple;
}

.java {
  background-color: #7e5f3f;
}

.objective__c {
  background-color: #47a3cb;
}

.php {
  background-color: #6237bd;
}
