body {
  /* All backgrounds to go edge-to edge */
  margin: 0;
  font-family: sans-serif;

}

ul {
  padding-left: 0;
  list-style: none;

}

* {
  box-sizing: border-box;
}

h1 {
  display:inline-block;
}

span {
  display:inline-block;
}



.header {
  background-color: #4fbedb;
  overflow: auto;


}

.header__right {
  float: right;
  display:inline-block;
}

.header__left {
  float: left;
  display: inline-block;
}

.profiles__item-1 {
  width: 20em;
  border: solid 1px black;
  border-radius: 2%;
  overflow: auto;
  margin: 1em;
}

.user__info {
  float: right;
}


.user__name {

}

.user__username {

}

.projects__1 {
/*  float: right; */
}



img {
  margin: 1em;

}

span {

  border-radius: 50%;
  background-color: black;
}
